@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .page-button {
      @apply flex items-center justify-center h-9 w-full rounded-full text-[10px] font-bold;
   }

   .page-button p {
      @apply max-w-0 overflow-hidden;
      transition: 0.2s ease;
   }

   .page-button svg {
      @apply scale-125;
      transition: 0.2s ease;
   }

   .page-button.active {
      @apply bg-blue-100 text-blue-600 gap-1;
   }

   .page-button.offer {
      @apply gap-1;
   }

   .page-button.active p {
      @apply max-w-[50px];
   }

   .page-button.active svg {
      @apply scale-100;
   }

   .header {
      box-shadow: 0 -4px 1rem rgba(0, 0, 0, 0.1);
   }

   .swiper-button {
      @apply absolute top-1/2 -translate-y-1/2 z-10 h-8 w-8 rounded-full flex items-center justify-center bg-white shadow-md;
      transition: 0.2s ease;
   }

   .swiper-button svg {
      @apply h-[18px] w-auto;
   }

   .swiper-button:active {
      @apply scale-95;
   }

   .swiper-left {
      @apply left-3;
   }

   .swiper-right {
      @apply right-3;
   }

   .social-icon svg {
      @apply h-[18px] w-auto;
   }

   .quantity-button {
      @apply flex items-center justify-center px-2 py-1 text-white bg-blue-500;
      transition: 0.2s ease;
   }

   .quantity-button:active {
      @apply scale-95;
   }

   .modal-offer {
      @apply fixed left-0 bottom-0 z-[995] rounded-2xl bg-white h-0 w-full overflow-hidden;
      box-shadow: 0 -5px 1rem rgba(0, 0, 0, 0.1);
      transition: 0.25s ease;
   }

   .modal-offer.active {
      @apply h-[60vh];
   }
}
